*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
.parent{
    height: 100vh;
    background-color: thistle;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    display: grid;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    background-color: rgb(59, 119, 135);
    border: 2px solid black;
}
.c1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.c2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.c5{
    grid-column-start: 2;
    grid-column-end: 4;
}
.c6{
    grid-column-start: 1;
    grid-column-end: 4;
}
